---
layout: default
title: Raspberry Pi Desktop Challenge - Home Page
---

<div id="home">
In this simple blog/diary,
I will document my attempt at the Raspberry Pi Desktop Challenge,
performed on a Pi 3 and during one week.

  <h2>Languages</h2>
  <h3><a href="it/">Italiano</a></h3>
  <h3><a href="en/">English</a></h3>
</div>
