---
layout: default
title: Raspberry Pi Desktop Challenge (IT)
---

<div id="home">
In questo blog/diario personale,
documenterò il mio andamento della Raspberry Pi Desktop Challenge,
sfida che, come il nome suggerisce, consiste nell'usare il
Raspberry come PC desktop principale per un po' di tempo.  
Nel mio caso, per una settimana userò il Pi 3.

  <h2>Pagine del blog</h2>
  <ul class="posts-it">
    {% for post in site.posts %}
    {% if post.categories contains "it" %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
