<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/custom.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />

    <meta name="description" content="{{ site.tagline }}">
  	<meta property="og:title" content="Raspberry Pi Desktop Challenge">
  	<meta property="og:description" content="{{ site.tagline }}">
  	<meta property="og:url" content="{{ site.baseurl }}">
  	<meta property="og:image" content="{{ site.baseurl }}/favicon.png">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1><a href="{{ site.baseurl }}"> {{ site.name }} </a></h1>
        <h2> {{ site.tagline }} </h2>
        <h2> #pidesktopchallenge </h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        <aside id="sidebar">
          <p>
In questo blog/diario personale,
documenterò il mio andamento della Raspberry Pi Desktop Challenge,
sfida che, come il nome suggerisce, consiste nell'usare il
Raspberry come PC desktop principale per un po' di tempo.  
Nel mio caso, per una settimana userò il Pi 3.
          </p>
          
        </aside>
      </div>
    </div>

  </body>
</html>
